@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* escuro:#0F1A45
body: #839CFD
tópicos */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:  #839CFD;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #414D7D;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.523);
}


nav {
    background-color: #0F1A45;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.579);
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.59);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2 {
    color: #0F1A45;
    font-family: 'Bebas Neue', sans-serif;
    font-size:1.7em ;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
}

main img {
    width: 100%;
}

footer {
    background-color: #414D7D;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 8px;
}